/.idea/
/build/
/cmake-build-debug/
/mains/*
!/mains/CMakeLists.txt
!/mains/newcoder.h
/input/mains/*
!/input/mains/README
/solutions/leetcode/CMakeSwitch.txt
/solutions/lintcode/CMakeSwitch.txt
/other_oj/
*.out
*.exe
*.swp
.DS_Store
